<!--<ion-toolbar>-->
<!--&lt;!&ndash;  <ion-label slot="start">{{newLeague ? 'Joining an existing league' : 'Create a new league'}}</ion-label>&ndash;&gt;-->
<!--  <ion-button slot="end" color="tertiary" (click)="newLeague = !newLeague">-->
<!--    {{newLeague ? 'Creating a new league' : 'Join and existing league'}}-->
<!--  </ion-button>-->
<!--</ion-toolbar>-->
<ion-content>

  <ng-container #create *ngIf="newLeague; else join">
    <h3>Create a new league</h3>

<!--    <ion-item>-->
<!--      <ion-input [(ngModel)]="league.name" placeholder="League Name"></ion-input>-->
<!--    </ion-item>-->

<!--    <ion-label>Password Protected:</ion-label>-->
<!--    <ion-checkbox [(ngModel)]="league.passwordProtected"></ion-checkbox>-->
<!--    <ion-item *ngIf="league.passwordProtected">-->
<!--      <ion-input [(ngModel)]="league.password" placeholder="Password"></ion-input>-->
<!--    </ion-item>-->

<!--    <div>Scoring:</div>-->
<!--    <div><ion-label>Perfect Prediction</ion-label><ion-input placeholder="0"></ion-input></div>-->
<!--    <div><ion-label>Perfect Prediction</ion-label><ion-input placeholder="0"></ion-input></div>-->
<!--    <div><ion-label>Perfect Prediction</ion-label><ion-input placeholder="0"></ion-input></div>-->


<!--    <ion-item>-->
<!--      <ionic-selectable-->
<!--        [canSearch]="true"-->
<!--        [items]="leagues"-->
<!--        itemValueField="id"-->
<!--        itemTextField="name"-->
<!--        placeholder="Select a league"-->
<!--        [(ngModel)]="playableLeague"-->
<!--      ></ionic-selectable>-->
<!--    </ion-item>-->

    <form [formGroup]="league">
      <mat-form-field class="" appearance="outline">
        <mat-label>League Name</mat-label>
        <input matInput maxlength="256" formControlName="name">
      </mat-form-field>

      <mat-slide-toggle formControlName="passwordProtected" color="primary" labelPosition="before">Password Protected</mat-slide-toggle>

      <mat-form-field class="" appearance="outline" *ngIf="league.get('passwordProtected').value">
        <mat-label>Password</mat-label>
        <input matInput maxlength="256" type="password" formControlName="password">
      </mat-form-field>

      <div class="ruleset">
        <h4>Scoring Rules</h4>

        <div class="rule">
          Correct Winner
          <div class="end">
            <mat-form-field appearance="outline">
              <input matInput maxlength="1" formControlName="name">
            </mat-form-field>
            pts
          </div>
        </div>
        <div class="rule">
          Goal Difference
          <div class="end">
            <mat-form-field appearance="outline">
              <input matInput maxlength="1" formControlName="name">
            </mat-form-field>
            pts
          </div>
        </div>
        <div class="rule">
          Exact Score
          <div class="end">
            <mat-form-field appearance="outline">
              <input matInput maxlength="1" formControlName="name">
            </mat-form-field>
            pts
          </div>
        </div>

        <h4>Included Competition(s)</h4>
        
      </div>



    </form>


    <ion-button color="dark" (click)="cancel()">close</ion-button>
    <ion-button color="dark" (click)="newLeague = !newLeague">Join</ion-button>
    <ion-button color="dark" (click)="createLeague()">Create</ion-button>
  </ng-container>

  <ng-template #join>
    <h3>Joining an existing league</h3>
    <!--  <ion-searchbar type="text"></ion-searchbar>-->
    <ion-item>
      <ionic-selectable
        [canSearch]="true"
        [items]="leagues"
        itemValueField="id"
        itemTextField="name"
        placeholder="Select a league"
        [(ngModel)]="playableLeague"
      ></ionic-selectable>
    </ion-item>

    <ion-button color="dark" (click)="cancel()">close</ion-button>
    <ion-button color="dark" (click)="newLeague = !newLeague">Create</ion-button>
    <ion-button color="dark" (click)="joinLeague()">Join</ion-button>
  </ng-template>
</ion-content>

