pl-new-league {
  font-size: 14px;
  padding: 12px;

  mat-form-field.mat-form-field, mat-slide-toggle.mat-slide-toggle {
    width: 60%;
    height: 60px;
    display: block;
  }

  .ruleset {
    width: 50%;

    div {
      &.end {
        float: right;
      }

      &.rule {
        margin-bottom: 20px;
        height: 24px;
        line-height: 24px;
      }
    }

    .mat-form-field {
      display: inline-block;
      width: 32px;
      height: 24px;

      .mat-form-field-infix {
        padding: 2px 1px;
        border-width: 6px;
      }
    }
  }
}
