pl-login.ion-page { }

ion-card.login {
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;
  min-height: 26em;
  min-width: 20em;
  width: 20%;
  padding: 20px;
  border-radius: 1em;

  form {
    margin: 1em 0;

    ion-item {
      border-radius: 0.5em;

      ion-input{
        height: 1em;
      }
    }
  }

  ion-button {
    margin-top: 1em;
    border: 1em;
    font-weight: 500;
  }
}
