<ion-card class="login">
  <h3>Login</h3>

<!--  <form [formGroup]="loginForm">-->
<!--    <ion-item color="light">-->
<!--      <ion-label position="floating">Email</ion-label>-->
<!--      <ion-input type="email" formControlName="email"></ion-input>-->
<!--    </ion-item>-->
<!--    <br/>-->
<!--    <ion-item color="light">-->
<!--      <ion-label position="floating">Password</ion-label>-->
<!--      <ion-input type="password" formControlName="password"></ion-input>-->
<!--    </ion-item>-->
<!--  </form>-->

  <form [formGroup]="loginForm">
    <ion-item color="dark">
      <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
    </ion-item>
    <br/>
    <ion-item color="dark">
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
    </ion-item>
  </form>

  <ion-button color="primary" fill="solid" (click)="emailLogin()">Login with Email</ion-button>

  <ion-button color="primary" fill="solid" (click)="emailSignup()">Sign Up with Email</ion-button>

  <ion-button color="danger" fill="solid" (click)="googleLogin()">Login with Google</ion-button>

</ion-card>
