<ion-tabs>
  <ion-header [translucent]="true">
    <ion-toolbar>
    <ion-list lines="none" slot="start">
      <ion-item>
        <ion-select placeholder="Select a league" interface="popover"
                    (ionChange)="leagueSelected($event.detail.value)"
                    [value]="selectedLeague">
          <ion-select-option *ngFor="let league of leagues" [value]="league.value">{{league.name}}</ion-select-option>
          <ion-select-option [value]="''">New League</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

      <ion-chip slot="end" (click)="editProfile()">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          My Name
        </ion-label>
      </ion-chip>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="matches">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="matches">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="table">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
